<div style="margin-left: 20%;">
    <div>
      <h3 routerLink="/ngmodelchange">Ng Model Change / ng model</h3>
    </div>
  
    <div>
      <h3 routerLink="/ngfor-dirct">ng for directive</h3>
    </div>
  
    <div>
      <h3 routerLink="/ngfor-nested-array">ngfor Nested array</h3>
    </div>
    <div>
      <h3 routerLink="/switch-directive">ngSwitch Directive</h3>
    </div>
    <div>
      <h3 routerLink="/ng-if-directive">ngIf and else Directive</h3>
    </div>
    <div>
      <h3 routerLink="/ng-class-directive">ng class Directive</h3>
    </div>
  
    <div>
      <h3 routerLink="/ng-style-directive">ng style Directive</h3>
    </div>
  
    <div>
      <h3 routerLink="/track-by-ng-for">TrackBy in NgFor</h3>
    </div>
    <!------------------------------------------------------------------>
    <div>
      <h3 routerLink="/customer-detail">Customer Details</h3>
    </div>
    <div>
      <h3 routerLink="/customer-list">Customer List</h3>
    </div>
   </div>
