<div>
    <h3>only life Cycle hooks</h3>
    <div>
      <h3 routerLink="/parent2">parent2</h3>
    </div>
    <div>
      <h3 routerLink="/child2">Child</h3>
    </div>
    <div>
      <h3 routerLink="/grandchild">Grandchild</h3>
    </div>
  </div>

  <!-------------Oninit life Cycle hooks---------------------------->
  <div style="margin-left: 20%; margin-top: -1.5%;">
    <h3>only Oninit life Cycle hooks</h3>
    <div>
      <h3 routerLink="/parent3">parent3</h3>
    </div>
    <div>
      <h3 routerLink="/child3">Child3</h3>
    </div>

  </div>

  <!-------------Oninit life Cycle hooks---------------------------->

  <div style="margin-left: 40%; margin-top: -10%;">
    <h3>only OnChanges life Cycle hooks</h3>
    <div>
      <h3 routerLink="/parent4">parent4</h3>
    </div>
    <div>
      <h3 routerLink="/child4">Child4</h3>
    </div>

  </div>

  <!-------------Oninit life Cycle hooks---------------------------->

  <div style="margin-left: 60%; margin-top: -5%;">
    <h3>only Docheck life Cycle hooks</h3>
    <div>
      <h3 routerLink="/parent5">parent5</h3>
    </div>
    <div>
      <h3 routerLink="/child5">Child5</h3>
    </div>

  </div>


