


<h2 routerLink="/allbindingsss">All Bindings</h2>

<!------------------------Directive-------------------------------------------->

 <h2 routerLink="/all-directivess">All Directives</h2>

  <!----PIPE-------------------------->
  <!----Date-PIPE-------------------------->

<h2 routerLink="/allpipess">all pipes</h2>

  <!----Parent to child and vice versa-------------------------->

<h2 routerLink="/parent-childss">Parent Child Vise Versa</h2>

  <!-------------Life Cycle hooks---------------------------->
  
<h2 routerLink="/allhookss" >All Hooks</h2>

  <!-- <app-event></app-event> -->

  <!-- <h2 routerLink="/templlate-driven-f">Temp form</h2> -->
  
  <h2 routerLink="/allformmss">All Forms</h2>


  <h2 routerLink="/parentchildtransproject">Parent Child data Transfer with project</h2>



