


<div style="margin-left: 20%;">
    <div>
      <h3 routerLink="/mainpipe">Main Pipe</h3>
    </div>

    <!----Custom-PIPE-------------------------->
    <div>
      <h3 routerLink="/custom-pipe">Custom Pipe</h3>
    </div>


    <!----Date-PIPE-------------------------->
    <div>
      <h3 routerLink="/date-pipe">Date Pipe</h3>
    </div>


    <!----async-PIPE-------------------------->
    <div>
      <h3 routerLink="/async-pipe">async Pipe</h3>
    </div>

    <!----async-PIPE-------------------------->
    <div>
      <h3 routerLink="/key-up-value">key-up-value</h3>
    </div>
  </div>