<div class='card'>
    <div class='card-header'>
        <p>{{title}} </p>
    </div>
    <div class="card-body">

        <div class="row">
            <h3>Fahrenheit to Celsius </h3>
        </div>
        <div class="row">
            <p> Fahrenheit : <input type="text" [(ngModel)]="Fahrenheit" />
                Celsius : {{Fahrenheit | tempConvertor:'C'}} </p>
        </div>

        <div class="row">
            <h3>Celsius to Fahrenheit </h3>
        </div>
        <div class="row">
            <p> celsius : <input type="text" [(ngModel)]="celsius" />
                Fahrenheit : {{celsius | tempConvertor:'F'}} </p>
        </div>
    </div>
</div>