<h1>{{ title }}</h1>

<div class="card">
  <div class="card-header">
    <p>Nested Array</p>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered table-sm">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Mail ID</th>
          <th>Skills</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees">
          <td>{{ employee.name }}</td>
          <td>{{ employee.email }}</td>
          <td>
            <table class="table table-sm">
              <tbody>
                <tr *ngFor="let skill of employee.skills">
                  <td>{{ skill.skill }}</td>
                  <td>{{ skill.exp }}</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>